{% extends 'base.html.twig' %}

{% block title %}New AccomodationType{% endblock %}

{% block body %}
    <h1>Create new AccomodationType</h1>

    {{ include('accomodation_type/_form.html.twig') }}

    <a href="{{ path('app_accomodation_type_index') }}">back to list</a>
{% endblock %}
